<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div style=" text-align: center;">
        <h1 class="big-heading">Universidades en Lima</h1>
      </div><br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="universityName">
          <th mat-header-cell *matHeaderCellDef> Universidad </th>
          <td mat-cell *matCellDef="let element of report"> {{element.nombreUniversidad}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idUniversity">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element of report"> {{element.idUniversidad}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </body>
</html>
